@model MVCApplication.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Home</h2>

<p>Welcome to a simple MVC application that loads in data from a csv file and lists it.</p>

<p>You can press the "All Data" link to see the data.</p>
